body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

h3 {
  color: rgb(85, 119, 186);
}
.project {
  color: rgb(36, 182, 36);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(253, 248, 244);
  margin-bottom: 0px;
  padding-bottom: 0px;
}
header ul {
  display: flex;
  margin-right: 20px;
}
header ul li {
  margin: 10px;
  list-style: none;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
main {
  background-image: url(images/img6.jpg);
  background-size: cover;
  background-position: center;

  height: 100vh;
}
main .intro {
  margin-left: 180px;
  margin-top: 150px;
}
#particles-js {
  height: 100%;
  width: 100%;
}
